[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal
[submodule "themes/enigmo"]
	path = themes/enigmo
	url = https://github.com/achary/engimo
[submodule "themes/journal"]
	path = themes/journal
	url = https://github.com/damiencaselli/hugo-journal
[submodule "themes/eiio"]
	path = themes/eiio
	url = https://github.com/leonhe/hugo_eiio
